{% extends 'layouts/Layout_Menu.html' %}

{% block body %}

    <div class="d-flex" id="content-wrapper">

        <!-- Sidebar -->
        <div id="sidebar-container" class="bg-primary">
            <div class="logo">
                <h4 class="text-light font-weight-bold mb-0"><a href="/inicio" class="d-block text-light p-3 border-0">Face Mask Advisor</a></h4>
            </div>
            <div class="menu">
              <p class="d-block text-light p-3 border-0"><i class="icon ion-md-finger-print lead mr-2"></i>
                {{g.user.nombre}} {{g.user.apellido_pat}}</p>
                <a href="/test" class="d-block text-light p-3 border-0"><i class="icon ion-md-pulse lead mr-2"></i>
                    Realizar prueba</a>
                <a href="/charts" class="d-block text-light p-3 border-0"><i class="icon ion-md-stats lead mr-2"></i>
                    Estadísticas</a>
                <a href="/user_account" class="d-block text-light p-3 border-0"><i class="icon ion-md-person lead mr-2"></i>
                    Datos de la cuenta</a>
                <a href="/advices" class="d-block text-light p-3 border-0"> <i class="icon ion-md-paper lead mr-2"></i>
                    Avisos recientes</a>
                    <a href="/help" class="d-block text-light p-3 border-0"><i class="icon ion-md-information-circle lead mr-2"></i>
                      Ayuda</a>
                      <a href="/logout" class="d-block text-light p-3 border-0"><i class="icon ion-md-exit lead mr-2"></i>
                        Cerrar sesión</a>
            </div>
        </div>
        <!-- Fin sidebar -->

        <div class="w-100">

        <!-- Page Content -->
        <div id="content" class="bg-light w-80">

            <section class="bg-light">
                  
                <div class="container w-75  mt-4 rounded shadow">
                    <div class="row align-items-stretch">
                        
            
                        </div>
                        <div class="col p-5 rounded-end"; style="background: #00796B;">
                            
                            <a href="MenuAvisosRecientes.html" class="d-block text-light p-3 border-0"><i class="icon ion-md-close-circle lead mr-2" ></i>
                                </a>
            
                            <h2 class="fw-bold text-center " style="color: white;">Anadir un aviso</h2>
                            
                            <form action="">
                                <div class="mb-5">
                                    <label for="contenido" class="form-label" style="color: white;">Contenido del aviso:</label>
                                    <input type="text" class="form-control" name="contenido">
                                </div>
            
                                <div class="mb-5">
                                    <label for="frecuencia" class="form-label" style="color: white;">Frecuencia:</label>
                                    <input type="range" class="form-control" name="email">
                                </div>
            
                                          
                                <div class="mb-5">
                                    <label for="estado" class="form-label" style="color: white;">Estado:</label></br>
             
                                    <select name="estado" name="select">
                                        <option value="">Estado de la evaluación</option>
                                        <option value="1">a</option>
                                        <option value="2">b</option>
                                        <option value="3">c</option>
                                    </select>
                                </div>
            
                                <div class="d-grid">
                                    <center><button type="submit" class="btn btn-primary" style="color: white; background-color: #004D40; width:350px;height:60px;"><h4>GUARDAR AVISO</h4></button></center>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> 
            </section>  
        </div>
    </div>   
            
{% endblock %}