{% extends 'layouts/Layout_Index.html' %}

{% block body %}

    <div class="container w-75  mt-4 rounded shadow">
        

        <div class="row align-items-stretch">
            
            <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">

            </div>
            <div class="col p-5 rounded-end" style="background: #00796B">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div id="alert_inicio" class="span4 offset4 alert alert-danger alert-dismissible fade show" style="position: absolute;" role="alert">
                                <strong>{{message}}</strong> 
                                <button type="button" class="close" onclick="delete_flash(this)" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="text-end">
                    <!-- <img src="" width="" alt=""> -->
                </div>

                

                <h2 class="fw-bold text-center " style="color: white;">Face Mask Advisor</h2>
                <p class="text-justify" style="color: white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <!--Login-->

                <form action="/login" method="POST">
                    <div class="mb-4">
                        <label for="email" class="form-label" style="color: white;">Correo electrónico:</label>
                        <input type="email" id="email" class="form-control" name="email">
                    </div>

                    <div class="mb-4">
                        <label for="password" class="form-label" style="color: white;">Contraseña:</label>
                        <input type="password" id="password" class="form-control" name="password">
                    </div>
                    <div class="mb-4 form-check">
                        <input type="checkbox" name="connected" class="form-check-input">
                        <label for="connected" class="form-check-label" style="color: white;">Mantenerme conectado</label>
                    </div>

                    <div>
                        <button type="submit" id="login" name="sign-up" class="btn btn-primary" style="color: white; background-color: black; "> INICIAR SESIÓN </button>
                    </div>

                    <div class="my-3">
                        <!--<span><a href="#">Recuperar contrasena</a></span><br-->

                        <span style="color: white;">¿No tienes cuenta? Crea una dando <a href="/registro" style="color: white;">click aqui.</a></span> <br><br>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary" style="color: white; background-color: black;">PROBAR DETECTOR SIN TENER CUENTA</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endblock %}