{% extends 'layouts/Layout_Charts.html' %}

{% block body %}

    <script src="/static/scripts/chart_functions.js"></script>

    <script>

        $(document).ready(function(){
            let barCanvas = document.getElementById('barCanvas').getContext('2d');
            let donutCanvas = document.getElementById('donutCanvas').getContext('2d');

            let barChart;
            let donutChart;

            let Chart_option = 1;

            function graphWeeklyResults(chart_type){
                var js_data = JSON.stringify(getWeek());
                $.ajax({                        
                    url: '/get-date-analyses',
                    type : 'post',
                    contentType: 'application/json',
                    dataType : 'json',
                    data : js_data
                }).done(function(result) {
                    console.log(result);
                    if(chart_type === 1){
                        graphBarChart(getWeek(), result, 'Estadisticas diarias del uso de cubrebocas');
                    }else if(chart_type === 2){
                        graphDonutChart(result, 'Estadisticas diarias del uso de cubrebocas');
                    }
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    console.log("fail: ",textStatus, errorThrown);
                });
            }

            function graphDailyResults(chart_type){
                var js_data = JSON.stringify(getDay());
                $.ajax({                        
                    url: '/get-daily-analyses',
                    type : 'post',
                    contentType: 'application/json',
                    dataType : 'json',
                    data : js_data
                }).done(function(result) {
                    console.log(result);
                    if(chart_type === 1){
                        graphBarChart(getDay(), result, 'Estadisticas semanales del uso de cubrebocas');
                    }else if(chart_type === 2){
                        graphDonutChart(result, 'Estadisticas semanales del uso de cubrebocas');
                    }
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    console.log("fail: ",textStatus, errorThrown);
                });
            }

            function graphMonthlyResults(chart_type){
                var js_data = JSON.stringify(getMonth());
                $.ajax({                        
                    url: '/get-date-analyses',
                    type : 'post',
                    contentType: 'application/json',
                    dataType : 'json',
                    data : js_data
                }).done(function(result) {
                    console.log(result);
                    if(chart_type === 1){
                        graphBarChart(getMonth(), result, 'Estadisticas mensuales del uso de cubrebocas');
                    }else if(chart_type === 2){
                        graphDonutChart(result, 'Estadisticas mensuales del uso de cubrebocas');
                    }
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    console.log("fail: ",textStatus, errorThrown);
                });
            }


            function graphBarChart(dates, analyses_count, bar_title){

                barChart = new Chart(barCanvas, {
                    type: 'bar', //Types of charts: Bar, HorizontalBar, pie, line, donut, radar, polarArea
                    data: {
                        labels: dates,
                        datasets: [{
                            label: 'Uso correcto del cubrebocas',
                            data: analyses_count[2],
                            backgroundColor: '#00796B',
                            hoverBorderWidth: '1',
                            hoverBackgroundColor: "#00E676"
                        },
                        {
                            label: 'Uso incorrecto del cubrebocas',
                            data:analyses_count[1],
                            backgroundColor: '#00BFA5',
                            hoverBorderWidth: '1',
                            hoverBackgroundColor: "#EF6C00"
                        },
                        {
                            label: 'No llevaba cubrebocas',
                            data:analyses_count[0],
                            backgroundColor: '#B2DFDB',
                            hoverBorderWidth: '1',
                            hoverBackgroundColor: "#C62828"
                        }]
                    },
                    options: {
                        plugins:{
                            title:{
                                display:true,
                                text: bar_title,
                                font: {
                                    size: 25,
                                    weight: 'bold'
                                }

                            },
                            legend:{
                                position:'right',
                                labels:{
                                    fontColor:'#000000'
                                }
                            },
                            layout: {
                                padding: {
                                    left: 50,
                                    right: 0,
                                    bottom: 0,
                                    top: 0 
                                }
                            },
                            tooltips:{
                                enabled:true
                            }
                        }
                    }
                });
            }

            function graphDonutChart(total_count, donut_title){
                let incorrecto = sumArray(total_count[0]);
                let parcialmente = sumArray(total_count[1]); 
                let correcto = sumArray(total_count[2]);

                donutChart = new Chart(donutCanvas, {
                    type: 'doughnut', //Types of charts: Bar, HorizontalBar, pie, line, donut, radar, polarArea
                    data: {
                        labels: ['Uso correcto del cubrebocas','Uso incorrecto del cubrebocas','No trae cubrebocas'],
                        datasets: [{
                            data:[correcto, parcialmente, incorrecto],
                            backgroundColor: ['#00796B', '#00BFA5', '#B2DFDB'],
                            hoverBackgroundColor: ['#00E676', '#EF6C00', '#C62828']
                        }]
                    },
                    options: {
                        plugins:{
                            title:{
                                display:true,
                                text: donut_title,
                                font: {
                                    size: 25,
                                    weight: 'bold'
                                }

                            },
                            legend:{
                                labels:{
                                    fontColor:'#000000'
                                }
                            },
                            layout: {
                                padding: {
                                    left: 50,
                                    right: 0,
                                    bottom: 0,
                                    top: 0 
                                }
                            },
                            tooltips:{
                                enabled:true
                            }
                        }
                    }
                });
            }
            

            $('#weekly-stats-btn').hide();
            $('#bar-chart-btn').hide();
            $('#donutCanvas').hide();
            graphWeeklyResults(1);
            graphWeeklyResults(2);
            

            $('#daily-stats-btn').click(function(){
                $('#daily-stats-btn').hide();
                $('#weekly-stats-btn').show();
                $('#monthly-stats-btn').show();

                barChart.destroy();
                graphDailyResults(1);
                donutChart.destroy();
                graphDailyResults(2);

                if(Chart_option === 1){
                    $('#barCanvas').show();
                    $('#donutCanvas').hide();
                }else if(Chart_option === 2){
                    $('#barCanvas').hide();
                    $('#donutCanvas').show();
                }
            });

            $('#weekly-stats-btn').click(function(){
                $('#daily-stats-btn').show();
                $('#weekly-stats-btn').hide();
                $('#monthly-stats-btn').show();
                barChart.destroy();
                graphWeeklyResults(1);
                donutChart.destroy();
                graphWeeklyResults(2);
                if(Chart_option === 1){
                    $('#barCanvas').show();
                    $('#donutCanvas').hide();
                }else if(Chart_option === 2){
                    $('#barCanvas').hide();
                    $('#donutCanvas').show();
                }
                
            });

            $('#monthly-stats-btn').click(function(){
                $('#daily-stats-btn').show();
                $('#weekly-stats-btn').show();
                $('#monthly-stats-btn').hide();
                barChart.destroy();
                graphMonthlyResults(1);
                donutChart.destroy();
                graphMonthlyResults(2);
                if(Chart_option === 1){
                    $('#barCanvas').show();
                    $('#donutCanvas').hide();
                }else if(Chart_option === 2){
                    $('#barCanvas').hide();
                    $('#donutCanvas').show();
                }
            });

            $('#bar-chart-btn').click(function(){
                $('#bar-chart-btn').hide();
                $('#donut-chart-btn').show();
                $('#barCanvas').show();
                $('#donutCanvas').hide();
                Chart_option = 1;
            });

            $('#donut-chart-btn').click(function(){
                $('#bar-chart-btn').show();
                $('#donut-chart-btn').hide();
                $('#barCanvas').hide();
                $('#donutCanvas').show();
                Chart_option = 2;
            });

        });
    </script>

    <div class="d-flex" id="content-wrapper">

        <!-- Sidebar -->
        <div id="sidebar-container" class="bg-primary">
            <div class="logo">
                <h4 class="text-light font-weight-bold mb-0"><a href="/inicio" class="d-block text-light p-3 border-0">Face Mask Advisor</a></h4>
            </div>
            <div class="menu">
              <p class="d-block text-light p-3 border-0"><i class="icon ion-md-finger-print lead mr-2"></i>
                {{g.user.nombre}} {{g.user.apellido_pat}}</p>
                <a href="/test" class="d-block text-light p-3 border-0"><i class="icon ion-md-pulse lead mr-2"></i>
                    Realizar prueba</a>
                <a href="/charts" class="d-block text-light p-3 border-0"><i class="icon ion-md-stats lead mr-2"></i>
                    Estadísticas</a>
                <a href="/user_account" class="d-block text-light p-3 border-0"><i class="icon ion-md-person lead mr-2"></i>
                    Datos de la cuenta</a>
                <a href="/advices" class="d-block text-light p-3 border-0"> <i class="icon ion-md-paper lead mr-2"></i>
                    Avisos recientes</a>
                    <a href="/help" class="d-block text-light p-3 border-0"><i class="icon ion-md-information-circle lead mr-2"></i>
                      Ayuda</a>
                      <a href="/logout" class="d-block text-light p-3 border-0"><i class="icon ion-md-exit lead mr-2"></i>
                        Cerrar sesión</a>
            </div>
        </div>
        <!-- Fin sidebar -->

        <div class="w-100">

        <!-- Page Content -->
        <div id="content" class="bg-light w-100">

            <section class="bg-light py-3">
                
                <div>
                    <h1 class="font-weight-bold mb-0"><center>Estadisticas del uso del cubrebocas</center></h1>
                </div>
            
            </section> 
            
            <div class="row">
                <div style="width: 100%;">
                    <button type="button" id="daily-stats-btn"  class="button-statistics btn btn-primary"  style="width:200px">Estadisticas diarias</button>
                    <button type="button" id="weekly-stats-btn" class="button-statistics btn btn-primary"  style="width:200px;">Estadisticas semanales</button>
                    <button type="button" id="monthly-stats-btn" class="button-statistics btn btn-primary" style="width:200px">Estadisticas mensuales</button>
                    <button type="button" id="bar-chart-btn" class="button-statistics btn btn-primary"  style="width:200px;">Personas por fecha</button>
                    <button type="button" id="donut-chart-btn" class="button-statistics btn btn-primary" style="width:200px">Estado del cubrebocas</button>
                </div>
            </div>

            <div>
                <div>
                   
                    <div style="text-align: center;">
                        <div style="padding: 20px;">
                            <canvas id="barCanvas"></canvas>
                        </div>
    
                        <div style="height: 60%; width: 75%; margin-left: 10%; text-align: center;">
                            <canvas id="donutCanvas"></canvas>
                        </div>
                    </div>
                    
                </div>
                <div>
                    
            </div>
        </div>
    </div>
    

            
       
{% endblock %}