{% extends 'layouts/Layout_Menu.html' %}

{% block body %}

    <div class="d-flex" id="content-wrapper">

       <!-- Sidebar -->
       <div id="sidebar-container" class="bg-primary">
        <div class="logo">
            <h4 class="text-light font-weight-bold mb-0"><a href="/inicio" class="d-block text-light p-3 border-0">Face Mask Advisor</a></h4>
        </div>
        <div class="menu">
          <p class="d-block text-light p-3 border-0"><i class="icon ion-md-finger-print lead mr-2"></i>
            {{g.user.nombre}} {{g.user.apellido_pat}}</p>
            <a href="/test" class="d-block text-light p-3 border-0"><i class="icon ion-md-pulse lead mr-2"></i>
                Realizar prueba</a>
            <a href="/charts" class="d-block text-light p-3 border-0"><i class="icon ion-md-stats lead mr-2"></i>
                Estadísticas</a>
            <a href="/user_account" class="d-block text-light p-3 border-0"><i class="icon ion-md-person lead mr-2"></i>
                Datos de la cuenta</a>
            <a href="/advices" class="d-block text-light p-3 border-0"> <i class="icon ion-md-paper lead mr-2"></i>
                Avisos recientes</a>
                <a href="/help" class="d-block text-light p-3 border-0"><i class="icon ion-md-information-circle lead mr-2"></i>
                  Ayuda</a>
                  <a href="/logout" class="d-block text-light p-3 border-0"><i class="icon ion-md-exit lead mr-2"></i>
                    Cerrar sesión</a>
        </div>
    </div>
    <!-- Fin sidebar -->

        <!-- Page Content -->
        <div id="content" class="bg-light w-100">

            <section class="bg-light py-3">
                  <div class="container">
                    <div>
                        <h1 class="font-weight-bold mb-0"><center>Ayuda</center></h1>
                      </div>
                  </div>

                  <table style="margin: 1.5cm;">
                    <tbody>
                        <tr>                                                      
                            <td>
                                <h1><center>Acerca de Face Mask Advisor</center></h1>
                            </td>                      
                        </tr>

                        <tr>                                                      
                            <td>
                                <div></br>
                                    <h5 class="text-justify">Face Mask Advisor es una aplicación que surgió gracias a las nuevas necesidades que ha traído consigo la pandemia que estámos viviendo, tiene como finalidad llevar un control del acceso a acceso únicamente a personal que utilice correctamente el cubrebocas y así evitar contagios.
            Recuerda: Te cuidas tú, nos cuidamos todos.</h5>
                                </div>
                        </td>
                        </tr>

                        <tr>                                                      
                            <td>
                                <h1><center>Información de contacto</center></h1>
                            </td>                      
                        </tr>

                        <tr>                                                      
                            <td>
                                <div></br>
                                <h5 class="text-justify"><b>E-mail:</b> face.mask.advisor@gmail.com</br><b>Teléfono:</b> 55-91-08-86-61 / 55-36-54-40-36 / 55-76-80-56-34 </h5>
                                </div>
                        </td>
                        </tr>

                        <tr>                                                      
                            <td>
                                <h1><center>Acerca de nosotros</center></h1>
                            </td>                      
                        </tr>

                        <tr>                                                      
                            <td>
                                <div></br>
                                    <h5 class="text-justify">Face Mask Advisor fue creado en el año 2021, en Ciudad de México, México</h5>
                                </div>
                        </td>
                        </tr>

                    </tbody>
                </table>
            </section> 
        </div>     
    </div>      

{% endblock %}
