{% extends 'layouts/Layout_Index.html' %}

{% block body %}

    <div class="bg"></div>

    <div class="col p-5 rounded-end data-div" >
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div id="alert_inicio" class="span4 offset4 alert {{category}} alert-dismissible fade show" style="position: relative;" role="alert">
                        <strong>{{message}}</strong> 
                        <button type="button" class="close" onclick="delete_flash(this)" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %} 
        
        <h2 class="fw-bold text-center " style="color: white;">Recupera tu contrase&ntilde;a</h2>
        <p class="text-justify" style="color: white;">
            Escribe el correo con el que inicialmente te registraste y si coincide te enviaremos un enlace
            para que puedas cambiar tu contraseña a tu inbox.
        </p>

        <!--Login-->

        <form action="/send_mail" method="POST">
            <div class="mb-4">
                <label for="email" class="form-label" style="color: white;">Correo electrónico:</label>
                <input type="email" id="email" class="form-control" name="email">
            </div>

            <div>
                <button type="submit" id="send_mail" name="send_mail" class="btn btn-primary" style="color: white; background-color: black; "> ENVIAR CORREO </button>
            </div>
        </form>

    </div>

      
       

{% endblock %}